{% extends 'base.html' %}

{% block content %}
    <main>
        <a href="{% url 'logout' %}">Log out</a>
        <h1>My Receipts</h1>
        <ul>
            <li>
                <a href="{% url 'create_receipt' %}">Create Receipt</a>
            </li>
            <li>
                <a href="{% url 'create_account' %}">Create accounts</a>
            </li>
            <li>
                <a href="{% url 'account_list' %}">Account List</a>
            </li>
            <li>
                <a href="{% url 'category_list' %}">Expense Categories</a>
            </li>
            <li>
                <a href="{% url 'create_category' %}">Create Category</a>
            </li>
        </ul>
        <table>
            <thead>
                <tr>
                    <th>Vendor</th>
                    <th>Total</th>
                    <th>Tax</th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Account</th>
                </tr>
            </thead>
            <tbody>
                {%  for receipt in receipts %}
                    <tr>
                        <td>{{ receipt.vendor }}</td>
                        <td>{{ receipt.total }}</td>
                        <td>{{ receipt.tax }}</td>
                        <td>{{ receipt.date|date:"d/m/y" }}</td>
                        <td>{{ receipt.category.name }}</td>
                        <td>{{ receipt.account.name }}</td>
                    </tr>
                {%  endfor %}
            </tbody>
        </table>
    </main>
{% endblock content %}
